

body {
  height: 100%;
  background-image: url("../cheap_diagonal_fabric.png");
  background-repeat: repeat;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-title {
  font-family: Georgia, Palatino, Garamond;
  font-weight: 600;
  font-size: 3.6em;
  margin: 60px auto;
  padding: 10px;
  max-width: 700px;
  border: 3px dashed black
}

.quote-box {
  background: #C6C6C6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#C6C6C6, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#C6C6C6, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#C6C6C6, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#C6C6C6, white); /* Standard syntax (must be last) */
  width: 600px;
  margin: 150px auto 0;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: left;
}

@media only screen and (max-width : 600px) {
  .quote-box {
    width: 100%;
    min-width: 250px;
  }
  .page-title {
    font-size: 3em;
  }
}

.technologies {
   margin: 50px auto 100px;
}

.technologies a {
  color: #28A2F9;
}
.technologies a:hover {
  color: #28A2F9;
  font-weight: 600;
}

blockquote footer {
  font-size: black;
}

.page-footer {
  background-color: #333;
  width: 100%;
  bottom: 0;
  position: fixed;
  font-size: 16px;
  font-width: 300;
  padding: 5px;
  margin-left: -15px; /*to adjust for the container padding*/
}

footer li {
  display: inline-block;
  margin: 0 10px;
}

footer li:hover {
  transform: scale(1.2, 1.2);
}

a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
a:active {
  text-decoration: none;
}

/* BUTTONS */
.btn-circle {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-circle:hover{
  background-color: #ffffff;
}

#new-quote:hover {
  color: #4AB900;
}

.twitter-share-button button:hover {
  color: #28A2F9;
}
